<%- include('../partials/header') %>
<h1>Browse Categories</h1>
<div class="grid">
<% site.services.forEach(function(cat){ %>
  <div class="card">
    <h3><%= cat.category %></h3>
    <ul><% cat.items.forEach(function(i){ %><li><%= i %></li><% }); %></ul>
  </div>
<% }); %>
</div>
<%- include('../partials/footer') %>